#superimg {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	position: absolute;
	top: 30px;
	right: 10px;
	z-index: 2;
	@include media-breakpoint-down(md) {
		display: none;
	}
	img {
		width: 95vh;
	}
}
/* Responsive Rule: Hide on small screens */
@media (max-width: 768px) {
	#superimg {
		display: none;
	}
}
